:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --Light-Grey: hsl(217, 12%, 63%);
    --Medium-Grey: hsl(216, 12%, 54%);
    --Dark-Blue: hsl(213, 19%, 18%);
    --Medium-blue: hsl(212, 17%, 22%);
    --Very-Dark-Blue: hsl(216, 12%, 8%);
}

/*
- Mobile: 375px
- Desktop: 1440px
*/


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

html, body {
    height: 100%;
}

body {
    display: grid;
    place-items: center;
    font-family: 'Overpass', sans-serif;
    background-color: var(--Very-Dark-Blue);
}

.chart {
    background-color: var(--Dark-Blue);
    padding: 20px;
    width: 90%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.star {
    display: flex;
    justify-content: center;
    background-color: var(--Medium-blue);
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-bottom: 16px;
    text-align: center;
}

.star img{
    object-fit: contain;
    width: 12px;
}

.chart h1{
    color: var(--White);
    font-size: 2rem;
    margin-bottom: 16px;
}

.chart p {
    color: var(--Light-Grey);
    width: 100%;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.rate {
    display: flex;
    justify-content: space-between;
    margin-bottom: 16px;
}

.rate-buttons {
    border: none;
    cursor: pointer;
    transition: 0.3s;
    background-color: var(--Medium-blue);
    color: var(--Medium-Grey);
    font-size: 1.2rem;
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}

.rate-buttons:hover {
    background-color: var(--Orange);
    color: var(--White);
}

.rate-buttons:focus {
    background-color: var(--Light-Grey);
    color: var(--White);
}


.main-button {
    background-color: var(--Orange);
    transition: 0.3s;
    cursor: pointer;
    color: var(--White);
    font-size: 1.2rem;
    letter-spacing: 2px;
    width: 100%;
    border: none;
    padding: 10px 0;
    border-radius: 34px;
}

.main-button:hover {
    background-color: var(--White);
    color: var(--Orange);
}

.thank-you {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--Dark-Blue);
    padding: 20px;
    width: 90%;
    max-width: 350px;
    height: auto;
    margin: 0 auto;
    border-radius: 20px;
}

.hidden {
    display: none;
}

.thank-you img {
    display: block;
    margin: 0 auto;
    width: 150px;
    margin-bottom: 20px;
}

.thank-you div {
    background-color: var(--Medium-blue);
    border-radius: 17px;
    color: var(--Orange);
    padding: 4px;
    text-align: center;
    font-size: 1.5rem;
    width: 120px;
    margin-bottom: 12px;
}

.thank-you span {
    font-size: inherit;
}

.thank-you h1 {
    font-size: 2rem;
    color: var(--White);
    margin-bottom: 12px;
}

.thank-you p:nth-child(4) {
    font-size: 1.5rem;
    color: var(--Medium-Grey);
    margin-bottom: 12px;
}


footer {
    color: var(--White);
    font-size: 2rem;
}

footer a {
    font-size: inherit;
}
